<div id="head-nav" class="spacing-layer">

    <div class="head-wrapper">

        <div class="navigation-links">

            <a href="#start"><img src="/photoapp/img/gallery-icon.svg" alt=""></a>
            <a href="#start">
                <p>Photo Gallery</p>
            </a>


        </div>

        <!-- <div class="searchbar">

            <input id="search-box" placeholder="Search" type="text">
            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
        </div> -->

        <div class="settings navigation-links">

            <div class="head-profile"><img src="/photoapp/img/profile.jpg" alt="profile-img"></div>

        </div>

    </div>

</div>